@import "tailwindcss";

:root {
  /* see the table [style.--i]="i" in the table components */
  --i: 0;
}

tr.mat-mdc-row {
  background-color: hsl(240, 50%, calc(95% - (var(--i) * 1%)));
}

/* Skeleton Loading Animation */
.skeleton {
  /*position: relative;*/
  background: linear-gradient(90deg, transparent, #e2e6ef, transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
